body {
    background-color: #FDFFFC;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    border: #011627 1px solid ;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}


.small_pizza {
    background-color: #FDFFFC;
}

.medium_pizza {
    background-color: #FDFFFC;
}

.large_pizza {
    background-color: #FDFFFC;
}

.contact_section {
    background-color: #2EC4B6;
}

@media (min-width: 950px){
    .pizzas{
        display: flex;  
    }
}